spring:
  kafka:
    bootstrap-servers: localhost:9092

custom:
  baseurl : localhost:8080
  topicName : click
#spring.kafka.topic-name=click
#spring.kafka.replica-factor=1
#spring.kafka.number-of-partitions=5