spring:
  kafka:
    bootstrap-servers: localhost:9092

custom:
  baseurl : localhost:8080
  topicName : click
  pageSize : 5
  microservice :
    controllers:
      clicks :
        url : http://localhost:8090/api/clicks
        name: ClickService
      histogram :
        url : http://localhost:8090/api/hist
        name: HistogramService

server:
  port: 8080
